<a href="https://colab.research.google.com/github/mrohani/Keyword-Trends-Analyser/blob/main/Keyword_Trend_Analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Keyword Trends Analyser

*** 
step1 =>Runtime
step2 =>Run All

Don't change this section

In [91]:
#@title
!pip install pytrends
from pytrends.request import TrendReq
pytrends = TrendReq()
import pandas as pd                       
import time
import datetime
from datetime import datetime, date, time

Requirement already satisfied: pytrends in /usr/local/lib/python3.7/dist-packages (4.7.3)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

**Keyword**

In [92]:
#@title
kw_list=['موبایل', 'لپ تاپ', 'تبلت','طلا','انتخابات']
pytrends.build_payload(kw_list, timeframe='today 3-m', geo='IR')

In [93]:
#@title
related_queries = pytrends.related_queries()
#related_queries.values()

#Top Rising(keyword_1)

In [94]:
#@title
keyword_1 = related_queries.get('موبایل').get('rising')
keyword_1

                                       query  value
0              فیلتر شکن قابل نصب روی موبایل   7050
1               خرید سیپی کالاف دیوتی موبایل   7050
2            اسم خفن برای کالاف دیوتی موبایل   5300
3                        خرید موبایل ای فردا   5100
4                                اوند موبایل   3350
5               لیست قیمت خانه موبایل ورامین   1700
6      خرید سی پی کالاف دیوتی موبایل دیکاردو   1600
7                     www.bpi.ir موبایل بانک   1600
8                  گردونه کالاف دیوتی موبایل    600
9               سیزن جدید کالاف دیوتی موبایل    400
10                                  gsmarena    300
11          نصب فیلتر شکن روی موبایل سامسونگ    250
12                            موبایل پوکو x3    250
13             خرید سی پی کالاف دیوتی موبایل    250
14             دانلود آهنگ زنگ موبایل باکلاس    250
15                  مشاهده ابلاغیه با موبایل    250
16       قیمت گوشی a71 در بازار موبایل تهران    250
17  چگونه در کالاف دیوتی موبایل حرفه ای شویم    200
18     دانلود کالاف دیوتی موبایل از گوگل پلی    200
19                                موبایل ۱۴۰    160
20                                موبایل 140    160
21                   بازی کالاف دیوتی موبایل     40
22                               کالاف دیوتی     40

#Top Trends(keyword_2)

In [95]:
#@title
keyword_2 = related_queries.get('موبایل').get('top')
keyword_2

                      query  value
0              کالاف موبایل    100
1               کالاف دیوتی     94
2        کالاف دیوتی موبایل     92
3               گوشی موبایل     88
4                     پابجی     85
5               بازی موبایل     67
6               قیمت موبایل     63
7            موبایل سامسونگ     45
8                زنگ موبایل     39
9          دیجی کالا موبایل     31
10              خرید موبایل     28
11              آهنگ موبایل     28
12         قیمت گوشی موبایل     27
13           موبایل شیائومی     22
14              موبایل بانک     22
15             ایران موبایل     22
16             بازار موبایل     22
17        بازی کالاف موبایل     22
18  بازی کالاف دیوتی موبایل     21
19             دانلود پابجی     21
20         بازی کالاف دیوتی     20
21               عکس موبایل     20
22      گوشی موبایل سامسونگ     18
23                 آهنگ زنگ     16
24          آهنگ زنگ موبایل     16

# Top Rising(keyword_3)

In [96]:
#@title
keyword_3 = related_queries.get('تبلت').get('rising')
keyword_3

              query  value
0         تبلت لنوا    250
1  عکس تبلت سامسونگ     50
2  تبلت های سامسونگ     40

# Top Trends(keyword_4)

In [97]:
#@title
keyword_4 = related_queries.get('تبلت').get('top')
keyword_4

                     query  value
0             تبلت سامسونگ    100
1                قیمت تبلت     83
2                تبلت لنوو     56
3        قیمت تبلت سامسونگ     29
4                 عکس تبلت     21
5                خرید تبلت     17
6           قیمت تبلت لنوو     15
7               تبلت ایسوس     13
8                 قاب تبلت     13
9                تبلت t295     13
10            تبلت شیائومی     12
11       تبلت سامسونگ t295      8
12             بهترین تبلت      8
13         تبلت دانش آموزی      8
14        تبلت های سامسونگ      7
15  تبلت سامسونگ دیجی کالا      7
16                کیف تبلت      5
17        عکس تبلت سامسونگ      5
18         قیمت تبلت ایسوس      5
19       تبلت سامسونگ t515      3
20      تبلت سامسونگ tab a      3
21           قاب تبلت لنوو      3
22    قیمت تبلت دانش آموزی      3
23               تبلت لنوا      3
24      تبلت سامسونگ نوت 8      2

#Top Rising(keyword_5)

In [98]:
#@title
keyword_5 = related_queries.get('لپ تاپ').get('rising')
keyword_5

                                    query  value
0  چگونه از صفحه لپ تاپ اسکرین شات بگیریم   4800
1                      تعمیر لپ تاپ شیراز    300
2                          تعمیرات لپ تاپ    170
3    چگونه لپ تاپ را به تلویزیون وصل کنیم    140
4                        لب تاب یا لپ تاپ     80
5               دانلود تلگرام برای لپ تاپ     50
6               نصب اینستاگرام روی لپ تاپ     50
7                              لپ تاپ اپل     40

#Top Trends(keyword_6)

In [99]:
#@title
keyword_6 = related_queries.get('لپ تاپ').get('top')
keyword_6

                        query  value
0                 قیمت لپ تاپ    100
1                لپ تاپ ایسوس     59
2                 لپ تاپ لنوو     38
3            دیجی کالا لپ تاپ     32
4                 خرید لپ تاپ     29
5                   لپ تاپ hp     22
6           قیمت لپ تاپ ایسوس     21
7                       لپتاپ     19
8                  لپ تاپ اپل     15
9            بازی برای لپ تاپ     14
10           قیمت لپ تاپ لنوو     13
11              لپ تاپ گیمینگ     11
12             لپ تاپ سامسونگ     10
13         تعمیر لپ تاپ شیراز      8
14               لپ تاپ استوک      7
15             تعمیرات لپ تاپ      7
16             قیمت لپ تاپ hp      5
17                مینی لپ تاپ      5
18                 کیف لپ تاپ      4
19  دانلود تلگرام برای لپ تاپ      4
20             لپ تاپ شیائومی      4
21           لب تاب یا لپ تاپ      4
22        کیبورد فارسی لپ تاپ      3
23            قیمت لپ تاپ اپل      3
24         خرید لپ تاپ گیمینگ      3

#Top Rising(keyword_7)

In [100]:
#@title
keyword_7 = related_queries.get('طلا').get('rising')
keyword_7

                        query  value
0   قیمت طلا ۱۸ اردیبهشت ۱۴۰۰   7550
1   قیمت طلا ۱۲ اردیبهشت ۱۴۰۰   7250
2        قیمت طلا ۱۹ اسفند ۹۹   6300
3   قیمت طلا ۲۵ اردیبهشت ۱۴۰۰   5800
4   قیمت طلا ۱۵ اردیبهشت ۱۴۰۰   5700
5   قیمت طلا ۳۰ اردیبهشت ۱۴۰۰   4650
6   قیمت طلا ۲۷ اردیبهشت ۱۴۰۰   4650
7   قیمت طلا ۱۱ اردیبهشت ۱۴۰۰   4000
8   قیمت طلا ۱۶ اردیبهشت ۱۴۰۰   3750
9   قیمت طلا ۲۲ اردیبهشت ۱۴۰۰   3500
10   قیمت طلا ۶ اردیبهشت ۱۴۰۰   3150
11  قیمت طلا ۱۹ اردیبهشت ۱۴۰۰   3000
12  قیمت طلا ۳۱ اردیبهشت ۱۴۰۰   2000
13   قیمت اونس جهانی طلا زنده    500
14   ايران جيب قيمت سكه و طلا    400
15                 آرامیس طلا    200
16      قیمت یک گرم طلا امروز    190
17     قيمت طلا ١٨ عيار امروز    170
18     تعبیر خواب گوشواره طلا    100
19         قیمت طلا همین الان     80
20     قیمت آنلاین طلا و دلار     80
21               قیمت آنی طلا     80
22               قیمت شمش طلا     70

#Top Trends(keyword_8)

In [101]:
#@title
keyword_8 = related_queries.get('طلا').get('top')
keyword_8

               query  value
0           قیمت طلا    100
1          طلا امروز     19
2     قیمت امروز طلا     15
3            طلا روز     11
4       قیمت روز طلا     10
5            سکه طلا      9
6            نرخ طلا      7
7       قیمت سکه طلا      7
8        طلا لحظه ای      5
9      قیمت لحظه طلا      5
10  قیمت لحظه ای طلا      5
11         سکه و طلا      5
12        آنلاین طلا      5
13    قیمت سکه و طلا      4
14   قیمت طلا آنلاین      4
15           طلا جیب      3
16           گرم طلا      3
17        انلاین طلا      3
18     ایران جیب طلا      3
19          سایت طلا      3
20          طلا زنده      3
21        قیمت خودرو      3
22   قیمت انلاین طلا      3
23  قیمت طلا ۱۸ عیار      2
24         ارز و طلا      2

#Top Rising(keyword_9)

In [102]:
#@title
keyword_9 = related_queries.get('انتخابات').get('rising')
keyword_9

                                        query   value
0                            اینترنت انتخابات  151300
1         کاندیدای انتخابات ریاست جمهوری ۱۴۰۰  111250
2                  کاندیدای ریاست جمهوری ۱۴۰۰   96100
3                          ستاد انتخابات کشور   73350
4                           روز انتخابات ۱۴۰۰   72500
5         نامزدهای انتخابات ریاست جمهوری ۱۴۰۰   62600
6      تاریخ انتخابات ریاست جمهوری ایران ۱۴۰۰   52150
7                     اینترنت رایگان انتخابات   47450
8                   ثبت نام رئیسی در انتخابات   47100
9                       نظرسنجی انتخابات 1400   30950
10                     عکس انتخابات شورای شهر   26300
11             ثبت نام رئیسی در انتخابات ۱۴۰۰   20800
12  اسامی نامزدهای انتخابات ریاست جمهوری ۱۴۰۰   20700
13        ثبت نام احمدی نژاد در انتخابات 1400   15600
14          پخش زنده انتخابات فدراسیون فوتبال   15600
15           تاریخ انتخابات رئیس جمهوری ایران   15150
16                  ictgifts ir هدیه انتخابات   10450
17             نتایج انتخابات فدراسیون فوتبال    5200
18                        انتخابات سوريا 2021    5100
19                             رئیسی انتخابات    1250
20                                  سعید محمد    1200
21                 ثبت نام انتخابات شورای شهر     950
22                        تاریخ انتخابات 1400     700
23                      نظرسنجی انتخابات ۱۴۰۰     700
24                احمدی نژاد در انتخابات ۱۴۰۰     650

#Top Trends(keyword_10)

In [103]:
#@title
keyword_10 = related_queries.get('انتخابات').get('top')
keyword_10

                            query  value
0                   انتخابات ۱۴۰۰    100
1           انتخابات ریاست جمهوری     95
2                   انتخابات 1400     59
3                  تاریخ انتخابات     31
4      انتخابات ریاست جمهوری ۱۴۰۰     28
5              انتخابات شورای شهر     27
6                  اخبار انتخابات     26
7      انتخابات ریاست جمهوری 1400     25
8                      احمدی نژاد     23
9                   زمان انتخابات     21
10    انتخابات ریاست جمهوری ایران     17
11    تاریخ انتخابات ریاست جمهوری     16
12            انتخابات ۱۴۰۰ تاریخ     13
13     زمان انتخابات ریاست جمهوری     12
14                   روز انتخابات     12
15                 رئیسی انتخابات     12
16            اخبار انتخابات 1400     11
17  ثبت نام انتخابات ریاست جمهوری     11
18                   عکس انتخابات      9
19       انتخابات فدراسیون فوتبال      8
20               اینترنت انتخابات      8
21    اخبار انتخابات ریاست جمهوری      7
22            تاریخ انتخابات 1400      7
23               نظرسنجی انتخابات      7
24            اخبار انتخابات ۱۴۰۰      6

In [104]:
keyword_1.to_csv('keyword_1.csv',index=False)
keyword_2.to_csv('keyword_2.csv',index=False)
keyword_3.to_csv('keyword_3.csv',index=False)
keyword_4.to_csv('keyword_4.csv',index=False)
keyword_5.to_csv('keyword_5.csv',index=False)
keyword_6.to_csv('keyword_6.csv',index=False)
keyword_7.to_csv('keyword_7.csv',index=False)
keyword_8.to_csv('keyword_8.csv',index=False)
keyword_9.to_csv('keyword_9.csv',index=False)
keyword_10.to_csv('keyword_10.csv',index=False)